# ================================
# Data
# ================================
# Ignore all unpacked/raw data
data/*
# Keep the README file to explain structure
!data/README.md

# ================================
# Jupyter internals
# ================================
# Ignore Jupyter hidden config and workspace files
.jupyter/
notebooks/.jupyter/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# ================================
# Results
# ================================
results/adata_raw.h5ad
results/qc_metrics.csv
